@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap');

:root {
	--main-color: #fffafa;
	--secondary-color: #404040;
  
	--high-font: 'Libre Baskerville', serif;
	--regular-font: 'Montserrat', sans-serif;
  }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-color: var(--main-color);
  line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
em {
	font-style: italic;
}
p,span, h1, h2, h3, h4, h5, li, pre, a, small {
	color: var(--secondary-color);
	font-family: var(--high-font);
}
.App {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
/*General classes*/
.title {
	font-family: var(--high-font);
	text-align: center;
	font-size: 2rem;
}
.bold {
	font-weight: bold;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.grid {
	display: grid;
}
.flex{
	display: flex;
} 
.desktop {
	display: none;
}
@media(min-width: 768px) {
	.desktop{
		display: block;
	}
	.mobile {
		display: none;
	}
}
/* Overlay*/
#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}
#overlay[aria-hidden='false'] {
	display: block;
}
.noscroll {
	overflow-y: hidden;
}
/* Footer */
.footer {
	padding: 1rem;
	padding-top: 5rem;
	text-align: right;
	margin-top: auto;
}
.footer small{
	font-size: .8rem;
}
/*Book index*/
.index {
	padding: 1rem;
	margin-top: 2rem;
}
.index .title {
	font-size: 2rem;
	text-align: center;
}
.index .content {
	margin: 2rem 0;
}
.index__container {
	text-align: center;
}
.index__list {
	text-align: left;
	margin-top: 4rem;
	counter-reset: item;
	display: inline-block;
}
.index__list--item{
	margin-bottom: 1.2rem;
}
.index__list--item a {
	max-width: 500px;
	text-decoration: none;
	color: var(--secondary-color);
}
.index__list--item .index--roman {
    display: block;
    width: 50px;
    text-align: left;
    margin-right: 1.2rem;
}
.index__list--item .poem-title {
	width: 100%;
}
.index__list--item .index--roman:before {
	content: counters(item, ".", upper-roman)". ";
	counter-increment: item;
}
.index__link {
	color: var(--secondary-color);
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 1.2rem;
}

/*Oda */
.poem {
	margin-top: 2rem;
	text-align: center;
	padding: 0 1rem;
}
.quote {
	text-align: right;
	font-style: italic;
}
.poem pre {
	text-align: left;
	margin: 2rem 0;
	margin-left: auto;
	white-space: pre-wrap;
	max-width: 700px;
}
.poem pre.center {
	text-align: center;
	max-width: initial;
}
.poem__nav {
	margin: 5rem auto;
	width: 90%;
}
.poem__nav .poem__nav--prev {
	float: left;
}
.poem__nav .poem__nav--next {
	float: right;
}
.poem__nav a {
	text-decoration: none;
	position: relative;
	font-size: 1.2rem;
}
.poem__nav--arrow {
	display: inline-block;
	width: 125%;
	height: 1px;
	background-color: var(--secondary-color);
	position: absolute;
	margin: 0 .5rem;
	bottom: -6px;
}
.poem__nav--arrow.right {
	left: -10px;
}
.poem__nav--arrow.left {
	right: -10px;
}
.poem__nav--arrow .shaft::before,
.poem__nav--arrow .shaft::after {
	background-color: var(--secondary-color);
	content: '';
	display: inline-block;
	height: 1px;
	position: absolute;
	top: 0;
	width: 8px;
}
.poem__nav--arrow.right .shaft::before,
.poem__nav--arrow.right .shaft::after {
	right: 0;
}
.poem__nav--arrow.left .shaft::before,
.poem__nav--arrow.left .shaft::after {
	left: 0;
}
.poem__nav--arrow.right .shaft::before,
.poem__nav--arrow.left .shaft::before	{
	transform: rotate(40deg);
}
.poem__nav--arrow.right .shaft::after,
.poem__nav--arrow.left .shaft::after	{
	transform: rotate(-40deg);
}
.poem__nav--arrow.right .shaft::before {
	transform-origin: top right;
}
.poem__nav--arrow.right .shaft::after {
	transform-origin: bottom right;
}
.poem__nav--arrow.left .shaft::before {
	transform-origin: top left;
}
.poem__nav--arrow.left .shaft::after {
	transform-origin: bottom left;
}
.poem__nav--next:hover .poem__nav--arrow.right {
	animation: 1s arrow-right linear infinite;
}
.poem__nav--prev:hover .poem__nav--arrow.left {
	animation: 1s arrow-left linear infinite;
}
@keyframes arrow-right {
	0%,
	100% {
	  transform: translate(0, 0);
	}
  
	50% {
	  transform: translate(10px, 0);
	}
  }
  @keyframes arrow-left {
	0%,
	100% {
	  transform: translate(0, 0);
	}
  
	50% {
	  transform: translate(-10px, 0);
	}
  }


  .index.home {
	opacity: 0;
	position: relative;
	top: 4rem;
	transition: .7s all ease-in-out;
}
  .home.visible {
	opacity: 1;
	top: 0;
  }