@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap');

:root {
	--main-color: #fffafa;
	--secondary-color: #404040;
  
	--high-font: 'Libre Baskerville', serif;
	--regular-font: 'Montserrat', sans-serif;
  }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-color: var(--main-color);
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p,span, h1, h2, h3, h4, h5, li, pre {
	color: var(--secondary-color);
	font-family: var(--high-font);
	line-height: 1.5;
}
/*General classes*/
.title {
	font-family: var(--high-font);
}
.bold {
	font-weight: bold;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.grid {
	display: grid;
}
.flex{
	display: flex;
} 
.desktop {
	display: none;
}
@media(min-width: 768px) {
	.desktop{
		display: block;
	}
	.mobile {
		display: none;
	}
}

/*Book index*/
.index {
	padding: 1rem;
	margin-top: 2rem;
}
.index .title {
	font-size: 2rem;
	text-align: center;
}
.index__container {
	text-align: center;
}
.index__list {
	text-align: left;
	margin-top: 4rem;
	counter-reset: item;
	display: inline-block;
}
.index__list--item{
	margin-bottom: 1.2rem;
}
.index__list--item a {
	max-width: 500px;
	text-decoration: none;
	color: var(--secondary-color);
}
.index__list--item .index--roman {
    display: block;
    width: 50px;
    text-align: left;
    margin-right: 1.2rem;
}
.index__list--item .poem-title {
	width: 100%;
}
.index__list--item .index--roman:before {
	content: counters(item, ".", upper-roman)". ";
	counter-increment: item;
}